<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twitter Fetch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
  </head>
  <body>
    <div ng-app="twitterApp" ng-controller="twitterController" ng-init="init()" class="container-fluid">

      <!-- Left Bar -->
      <div class="col-xs-4">
        <h3 class="text-xs-center" style="margin-bottom:1rem;margin-top:1rem;">Twitter Fetch</h3>

        <!-- Navigation Bar -->
        <div class="col-xs-12" style="margin-bottom:1rem;" id="userInfo">
          <div >
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Tweets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">User Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Another link</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Area searching for tweets -->
        <div class="col-xs-12" style="margin-bottom:1rem;" id="tweetSearch">
          <div >
            <form>
              <div class="form-group">
                <label class="form-control-label">Username</label>
                <input ng-model="tweetUsername" type="text" class="form-control"/>
              </div>

              <div class="form-group">
                <label class="form-control-label">Number of Tweets</label>
                <input ng-model="numberOf" type="number" class="form-control"/>
              </div>

              <div class="form-group">
                <label class="form-control-label">Retweets?</label>
                <input ng-model="retweets" type="checkbox"/>
              </div>

              <button ng-click="fetchTweets()" class="btn btn-primary form-control">Go</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Right Bar/ Results Area -->
      <div class="col-xs-8">
        <h3 class="text-xs-center" style="margin-bottom:1rem;margin-top:1rem;">Results</h3>
        <div id="tweetResults">
          <div style="height:85vh;overflow:auto;">
            <table class="table table-hover">
              <tr ng-repeat="tweet in tweets">
                <td ng-bind-html="tweet"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    <script type="text/javascript">window.$ = window.jQuery = require('jquery');</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="../controllers/twitterFetchController.js"></script>
  </body>
</html>
